{% extends "dashboard/base.html" %}
{% block meta_title %}Change Password{% endblock %}

{% block content %}
    {% include 'includes/message.html' %}
    <div class="strike-line top_0">
    <span><small>
        Change Password
    </small></span>
    </div>

    <form action="{{ url_for('dashboard.password_change') }}" method="post">

  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" aria-describedby="password1" name="password1">
    <small id="password1" class="form-text text-muted">Enter your new password</small>
  </div>
  <div class="form-group">
    <label for="password">Password Confirmation</label>
    <input type="password" class="form-control" id="password2" aria-describedby="password2" name="password2">
    <small id="password2" class="form-text text-muted">Enter your password confirmation</small>
  </div>


        <div class="actions">
            <input id="submit" type="submit" class="btn btn-primary" value="Save"></input>
            <a href="{{ url_for('dashboard.index') }}" class="btn btn-default">Cancel</a>
        </div>
    </form>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>


<script>
        // click on button submit
        $("#submit").on('click', function(e){
            // send ajax
            e.preventDefault();
            var password1 = $("#password1").val();
            var password2 = $("#password2").val();

            if(password1 !== password2){
                alert("password didnt match");
            }else{
            $.ajax({
                url: '/api/v1/dashboard/password-change', // url where to submit the request
                type : "POST", // type of action POST || GET
                dataType : 'json', // data type
                contentType: 'application/json',
                headers: {Authorization: 'Bearer ' + localStorage.getItem("token")},
                data : JSON.stringify({"password1": password1, "password2": password2 }), // post data || get data
                success : function(result) {
                    alert(result.msg);
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                    alert(xhr.responseJSON.msg)
                }
            })
            }
            });
</script>

{% endblock %}